* {
    box-sizing: border-box;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin : 0;
    padding : 0;
    height: 100vh;
    width: 100%;
}

body {
    margin : 0;
    padding : 0;
    height: 100vh;
    width: 100%;

    background: url(assets/images/website/background.jpg);
    background-size: cover;
    background-position: center;
}

/* h1 {
    font-size: 48px;
    font-weight: 600;
    color: rgb(255, 255, 255);

    
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

h1{
  font-size: 48px;
    font-weight: 600;
  color: rgb(255, 255, 255);
}

/* .btn {
    display: inline-block;
    padding: 8px 24px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    border-radius: 4px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: medium;
    letter-spacing: 1px;
    transition: all 0.2s ease;
} */

.btn{
  padding: 8px 24px;
  background: rgb(255, 255, 255);
    border-radius: 4px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: medium;
    letter-spacing: 1px;
    transition: all 0.2s ease;
    
    
}

.btn:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.taufic{
  
 
  margin-top: 20%;
  text-align: center;
  
  
}

nav {
  padding: 8px;
}

.logo {
  float: left;
  padding: 8px;
  /* background: url(assets/images/website/logo.jpeg); */
  /* background-size: cover; */
  /* background-position: center; */
 
  width: 150px;
  height: 50px;
  margin-top: 8px;
  margin-left: 16px;
}

.logo a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}


nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  display: inline-block;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16 px;
  font-weight: 600;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .logo {
    padding: 0;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(0, 0, 0);
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1)
  {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2)
  {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(3)
  {
    transition-delay: 0.6s;
  }

  .nav-wrapper ul li:nth-child(4)
  {
    transition-delay: 0.8s;
    margin-top : 50px;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px, 24px;
    opacity: 0;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }

  /* .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
  } */

  .taufic{
    margin-top: 30%;
  }

  h1 {
    font-size: 30px;
  }
}
@media  screen and (max-width: 1190px) {

  .taufic{
    margin-top: 30%;
  }

  
  
} 

@media  screen and (max-width: 1000px) {

  .taufic{
    margin-top: 35%;
  }

  
  
} 

@media  screen and (max-width: 1000px) {

  .taufic{
    margin-top: 40%;
  }

  
  
} 



@media screen and (max-width: 850px) {
  .taufic{
    margin-top: 35%;
  }

 
}

@media screen and (max-width: 800px) {
  .taufic{
    margin-top: 45%;
  }

 
}

@media screen and (max-width: 770px) {
  .taufic{
    margin-top: 45%;
  }

  h1{
    font-size:40px;
  }

 
}



@media  screen and (max-width: 650px) {
  .taufic{
    margin-top: 60%;
  }

  
}

@media  screen and (max-width: 600px) {
  .taufic{
    margin-top: 65%;
    
  }



  
}


@media  screen and (max-width: 480px) {
  .taufic{
    margin-top: 80%;
  }

  h1 {
    font-size: 30px;
  }
}

 /* @media  screen and (max-width: 450px) {

  .taufic{
    margin-top: 60%;
  }

  h1 {
    font-size: 28px;
  }
  
}  */

@media  screen and (max-width: 420px) {

  .taufic{
    margin-top: 85%;
    
  }
} 

@media  screen and (max-width: 360px) {

  .taufic{
    margin-top: 90%;
    
    
  }

  h1{
    font-size: 28px;
  }
} 

@media  screen and (max-width: 420px) {

  body{
    position: fixed;
  }
} 





#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: rgb(255, 255, 255);
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

.login{
  
   border: 2px outset #fff;
    background-color: #111010;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 50%;
    transform: translate(-50% ,-50%) scale(0.1);
    visibility: hidden;
    justify-content: center;
    transition: transform 0.4s,top 0.4s;
    padding: 0;
    border: 2px outset black;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50% ,-50%) scale(1);
 /* filter: blur(10px); */
}

.open-popup-body-change{
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  backdrop-filter: blur(20px);
}
.nav-blur{
  filter: blur(5px);
}
/* .body{
  filter: blur(8px);
  -webkit-filter: blur(8px);
  } */


/* .login button{
  width: 100%;
  margin-top: 50px;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
} */

/* poupup */



.login-btn {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
  
  
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #0d0d0d;
	border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
  
}

  /* .form-container {
    position: absolute;
    top: 0;
    height: 100%;
  } */

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
  position: absolute;
	top: 0;
	height: 100%;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background: #FF4B2B;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}




/* close button for pop up*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
}

/* .a-cross{
  float: left;
} */

.spam-cross
{
  margin: 5px;
  float: right;
  z-index: 1;
  position: relative;
  cursor: pointer;
  background-color: #FF4B2B;
}

.login-profil{
  width: 60%;
  margin: 0;
  /* z-index: 1;
  position: relative; */
  padding: 0;



}

.social-container {
	margin: 50px 0;
  border: 1px solid #161515; 

 
}


